body {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: auto;
    height: 100vh;
    overflow: hidden;
    background-image: url("https://cdn.wallpapersafari.com/83/31/DBzikL.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 1em 5%;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  nav {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  
  .btn {
    margin: 0.5em;
    color: white;
    padding: 0.8em;
    border-radius: 0.5em;
    -webkit-box-shadow: 1px 1px 1px black;
            box-shadow: 1px 1px 1px black;
  }
  
  .source {
    background: #673ab7;
  }
  
  .site {
    background: #3f51b5;
  }
  
  .faq {
    background: #d81b60;
  }
  
  main {
    width: 50%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-flow: column;
        flex-flow: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  main > img {
    width: 50%;
    height: auto;
    margin: 1em;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
  }
  
  main hr {
    width: 75%;
    height: 7px;
    background: white;
    border-radius: 5px;
    border: none;
  }
  
  main .logos {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  main .logos > img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 5em;
    height: 5em;
    margin: 0.5em;
    background: whitesmoke;
    border: 1px solid black;
    border-radius: 100%;
    opacity: 0.7;
  }
  
  main .logos > img:hover {
    opacity: 1;
  }
  
  footer {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  footer > span {
    padding: 0.7em;
    color: whitesmoke;
    font-size: 0.8em;
    text-decoration: underline;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0.5em;
  }
  /*# sourceMappingURL=style.css.map */