main {
    @include set-dimensions(50%,auto );
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-flow: column;
    align-items: center;

     > img {
        @include set-dimensions(50%,auto );
        margin: 1em;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 5px;
      }

      hr {
        @include set-dimensions(75%,7px );  
        background: $background;
        border-radius: 5px;
        border: none;
      }
      
      .logos {
        @include set-dimensions(100%,auto );
      
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        > img {
            object-fit: cover;
            @include set-dimensions(5em,5em );
            margin: 0.5em;
            background: $background_secundario;
            border: 1px solid $color-dark;
            border-radius: 100%;
            opacity: 0.7;

            &:hover {
                opacity: 1;
              }
          }

           
      }
  }
  
  
  
 
  
 
  
